- if customers.errors.any? 
  #error-explanation
  .alert.alert-error
    = The form contains  pluralize(@customers.errors.count, "error")
    %ul
      - customers.errors.full_messages.each do |msg|
      %li * 
          = msg
    