.main-logo
  =image_tag("logo_thumb.jpg")

.navbar.navbar-inverse{:style => "margin-left: 20%"}
  .navbar-inner
    .container{:style => "width: auto;"}
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"}Escuela De Enfermeria
      .nav-collapse
        %ul.nav
        %ul.nav.pull-right
          = render :partial => 'shared/fb_connect'
                